header {
    --nav-height: 60px;
    --nav-height: 80px;
    --nav-height-expanded: 130px;
    --nav-background: #840909d1;
    --nav-item-filter: invert(93%) sepia(35%) saturate(801%) hue-rotate(292deg) brightness(103%) contrast(101%); 
    --nav-item-filter-hover: invert(81%) sepia(12%) saturate(719%) hue-rotate(204deg) brightness(93%) contrast(91%);;

    height: var(--nav-height-expanded);
}

/*********************/
/* STICKY NAVIGATION */
/*********************/
header .sticky-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 0;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--nav-background);
    transition: ease 0.5s;
    backdrop-filter: blur(3px);
}

header .sticky-nav-container:hover {
    --nav-height: var(--nav-height-expanded);
}

header .sticky-nav {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    overflow: hidden;
}

header .sticky-nav a {
    text-align: center;
    filter:var(--nav-item-filter);
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Krub', serif;
    font-weight: 600;
    height: var(--nav-height-expanded);
}

header .sticky-nav a.hamburger {
    display: none;
}

header .sticky-nav a:hover {
    filter: var(--nav-item-filter-hover);
}

header .sticky-nav-container .sticky-nav a span { 
    visibility: hidden;
}

header .sticky-nav-container:hover .sticky-nav a span { 
    visibility:visible;
    margin: auto;
}

header .sticky-nav a img {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 10px;
    object-fit: contain;
}

@media (max-width: 800px) {
    header .sticky-nav-container {
        overflow: hidden;
        height: 70px !important;
    }
    header .sticky-nav-container.expand {
        height: 670px !important;
    }
    header .sticky-nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    header .sticky-nav a {
        flex-direction: row;
        padding-left: 25px;
        visibility: hidden;
    }
    header .sticky-nav a.hamburger {
        display: flex;
        visibility: visible;
    }
    header .sticky-nav-container.expand a {
        visibility: visible;
    }
    header .sticky-nav a img {
        min-width: 10px;
        min-height: 10px;
        width: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
    }
    header .sticky-nav-container .sticky-nav a span { 
        visibility: visible;
        padding-left: 30px;
    }
}

/*****************/
/* STICKY RETURN */
/*****************/
header .sticky-return {
    position: fixed;
    right: 40px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    z-index: 10;
}

header .sticky-return img {
    object-fit: contain;
    width: 40px;
    height: 40px;
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    header .sticky-return {
        display: none;
    }
}